<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HardDecoderDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04FEF24D21C5F73D007241D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FEF26521C5F73E007241D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FEF27021C5F73E007241D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
